*{
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}
html,body{
  height: 100%;
  text-align: center;
}
a{
  color:blue;
}
.content-box{
  position:relative;
  margin-top: 10%;
  h1{
    margin-bottom: 0;
  }
}
.typeit-box{
  display:block;
}
