@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ti-letter {
  position: relative;

  .ti-cursor {
    display: none;
  }

  &:last-of-type {

    .ti-cursor {
      display: inline;
      position: absolute;
      background-color: inherit;
      animation: blink 1s infinite;
      top: -3%;
    }

  }
}
