ul {
	padding: 0;
}

li {
	display: inline;
}

.features-list {
    word-break: break-word;
	display: block;
	padding: 0 2rem 3rem 2rem;
	border-bottom: 2px solid $light-gray;

	li {
		position: relative;
		font-size: 1.75rem;
    	padding: 0 1rem 0 2.65rem;

    	svg {
    		position: absolute;
		    height: 20px;
    		left: 0;

    		@media screen and (max-width: 600px) {
	    		height: 15px;
    		    margin-top: 1px;
	    	}
    	}

    	@media screen and (max-width: 600px) {
    		font-size: 1.5rem;
		    line-height: 2rem;
    	}
	}
}
