footer {
  background: black;
  margin-top: 4rem;
}

.connect-list {
  margin: 0;
  padding: 0;
}

.connect-item {
  display: inline-block;
  padding: 2rem;

  i {
    color: white;
    font-size: 3rem;

    &:hover {
      color: $pink;
    }
  }
}
