footer {
  background: black;
  margin-top: 6rem;
}

.connect-list {
  margin: 0;
  padding: 0;
}

.connect-item {
  display: inline-block;
  padding: 2rem;
  position: relative;

  a {
    display: block;
  }

  &:hover {
    svg, path {
      fill: $pink;
    }
  }

  i {
    color: white;
    font-size: 3rem;

    &:hover {
      color: $pink;
    }
  }

  &:nth-child(1){
    svg {
      max-height: 32px;
    }
  }

  &:nth-child(3) {
    svg {
      width: 40px;
    }
  }

  svg {
    fill: white;
    width: 35px;
  }

  path {
    fill: white;
  }
}
