header {
  margin: 2rem 0 3rem;
  padding: 2rem;
  background: $light-gray;
  border-bottom: 2px solid $light-gray;
  border-top: 2px solid $light-gray;
}

.typeit-box {
  line-height: 6rem;
  font-size: 5rem;
  margin: 2rem 0 3rem;
  font-weight: bold;
}

.github-link {
  color: black;

  &:hover {
    color: $green;
  }
}

.github-text {
  font-size: 1.6rem;
  display: inline-block;
}

.main-header {
  margin: 0;
  font-weight: normal;
}

.typeit-box {
  line-height: 6rem;
}
