header {
  position: relative;
  margin: 0 0 3rem;
  padding: 0;
  border-bottom: 2px solid $light-gray;
}

.header-content {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;

  hr {
    margin-bottom: 1rem;
  }
}

#typeit-box {
  line-height: 6rem;
  font-size: 3.5rem;
  margin: 2rem 0 3rem;
  font-weight: 200;
  line-height: 100%;

  @media screen and (max-width: 768px) {
    font-size: 2.75rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}

.github-icon-holder {
  width: 25px;
  margin: 0 auto;
}

.github-link {
  color: black;
  display: inline-block;
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  text-align: center;
  
  &:hover {
    color: $green;
    svg path {
      fill: $green;
    }
  }
}

.github-text {
  font-size: 1.5rem;
}

.main-header {
  margin: 0 0 1rem;
  font-weight: 100;
  font-size: 10rem;

   @media screen and (max-width: 600px) {
    font-size: 5rem;
    margin-bottom: .75rem;
  }
}

.emphasized {
  font-size: inherit;
  font-weight: 500;
}